h1,h4 {
  text-align: center;
}

input {
  width: 100%;
}
.row {
  /* adding spacing between rows */
  padding-top: 3px;
  padding-bottom: 3px;
}
.userinput {
  /* pull responses to left so it looks better */
  padding-left: 0px;
  align-content: left;
}

.center {
  align-content: center;
  text-align: center;
}

.side-section {
  /* background-color: #FFD4E4; */
  /* margin: 1px; */
  border: solid;
}

#output {
   /* white-space: pre; */
}

.text-align {
  text-align: right !important; 
}

/* Width at 768px and below */
@media screen and (max-width: 768px) {

  .text-align {
    text-align: left !important; 
  }

  input {
    width: 100px;
  }
  #sidebar {
    margin-top: 40px;
  }
}